body{
	color: black;
	font-family: "adelle", sans-serif;
	font-weight: 300;
	font-size: 14px;
}

a, a:visited, a:hover{
	color: #6cd3b4;
	text-decoration: none;
	font-weight: 400;
}

.about{
	padding-top: 1em;
	padding-bottom: 1em;
}

.about{
	color: white;
}

.about a{
	text-decoration: none;
	color: white;
	font-weight: 400;
}

.about a:hover{
	text-decoration: underline;
}

h1, h2, h3{
	font-family: "freight-sans-pro", sans-serif;
	line-height: 13px;
	font-weight: 700;
}

.abouttext h2{
	font-family: "adelle", sans-serif;
}

.about h2{
	font-weight: 200;
}

.orangestripe{
	background-color: #f99885;
}

.greenstripe{
		background-color: #6cd3b4;
		overflow: auto;
}

.leftface{
	padding-top: 2em;
	margin-left: -1.5em;
	padding-bottom: 2em;
}

.links{
	text-align: center;
	padding-top: 3em;
}

.contentstripe{
	padding-top: 6em;
	padding-bottom: 6em;
}

.contentstripe h2{
	font-size: 2.1em;
	margin-bottom: .1em;
	margin-top: .1em;
	color: black;
	line-height: .8em;
}

.contentstripe h3{
	margin-bottom: .4em;
	margin-top: .4em;
	font-weight: 600;
	color: #666666;
	font-size: 1.7em;
	padding-bottom: .5em;
}

.contentstripe .button{
	margin-top: 1.3em;
}

.rightbutton{
	text-align: right;
}

.leftbutton{
	text-align: left;
}

.button{
	font-family: "effra", sans-serif;
	text-align: center;
	background-color: #6cd3b4;
	box-shadow: 0 2px 0px 0px #61bda2;
	color: white;
	padding: 1em;
	display:inline-block;
	opacity: .8;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
	font-weight: 400;
}

.button:hover{
	background-color: #6cd3b4;
	box-shadow: 0 2px 0px 0px #61bda2;
	color: white;
	display:inline-block;
	opacity: 1;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.button a{
	color: white;
	text-decoration: none;
	font-weight: 300;
}

.button a:hover{
	color: white;
	text-decoration: none;
	font-weight: 300
}

hr{
	border: 0;
    height: 1px;
    opacity: .1;
    background-color: #333;
}

.center{
   text-align:center;
}


@media screen and (min-width: 1300px){
	.sidepadding{
		padding-right: 22%;
		padding-left: 22%;
	}
}

@media screen and (min-width: 600px) and (max-width: 1300px){
	.sidepadding{
		padding-left: 7%;
		padding-right: 7%;
	}
}


.maincontent{
	z-index: 0;
	padding-top: 5em;
}

.slashdivider{
	font-weight: 700;
}

.returnbutton{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

.navbar{
	list-style: none;
	display: inline-block;
	width: 100%;
	position: fixed;
	float: left;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #89dcc3;
    color: white;
    z-index: 3;
    font-family: "freight-sans-pro", sans-serif;
	font-weight: 400;
}

.navbar{
	opacity: .96;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.navbar:hover{
	opacity: 1;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.navbar a{
	color: white;
	text-decoration: none;
	opacity: .9;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.navbar a:visited{
	color: white;
	opacity: .9;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.navbar a:hover{
	color: white;
	opacity: 1;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.navbar ul{
	margin: 0;
	padding: 0;
	list-style: none;
	white-space:nowrap; 
}

.navbar li{
	margin: 0;
	padding: 0;
	display: inline;
	float: right;
	padding-left: .5em;
}

.navbar li:first-child{
	float: left;
	padding-left: 0;
	font-family: "freight-sans-pro", sans-serif;
	font-weight: 600;
}

@media screen and (max-width: 800px){
	.navbar li:first-child{
		display: none;
	}
}

.homelink{
	text-align: center;
	display: inline-block;
	font-weight: 400;
}

.leftlink{
	float: left;
	left: 1em;
	font-weight: 400;
	font-family: "freight-sans-pro", sans-serif;
}

.rightlink{
	float: right;
	font-family: "freight-sans-pro", sans-serif;
}

@media screen and (max-width: 640px){
	.leftlink{
		display: none;
	} 
	.rightlink{
		display: none;
	}

}

.infoheader{
	background-color: #6cd3b4;
	padding-top: 2em;
	padding-bottom: 3.5em;
	color: white;
}

.infoheader p{
	padding-top: 1em;
}

.infoheader h1, h2, h3{
	margin: 0;
	margin-bottom: .5em;
}

.infoheader a{
	color: white;
	font-weight: 700;
}

.infoheader h2{
	opacity: .95;
	font-weight: 600;
}

.infoheader h3{
	opacity: .95;
	font-weight: 600;
}

p{
	line-height: 1.2em;
}

.lastp{
	margin-bottom: 2em;
}

@media screen and (min-width: 1000px){
	.homepageimgpad{
		padding-right: 3.5em;
	}

	#leftface{
		padding-right: 3.5em;
		padding-bottom: 0em;
		padding-left: -1em;
	}

}

.abouttext{
	padding-top: 16%;
}

@media screen and (max-width: 640px){
	.homepageimgpad{
		padding-bottom: 2em;
	}

	.button{
		margin-bottom: 2em;
	}

	.abouttext{
	padding-top: 0;
	}

	.contentstripe{
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

.centerwrapper{
	width: 100%;
  	text-align: center;
}

.centerbutton{
	text-align:left;
    margin: 0 auto; 
   	display: inline-block;
}

.footer{
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}

.aboutlist{
	list-style-type: square;
	line-height: 1.3em;
}

.linksonhome{
	margin-top: 2em;
	font-family: "freight-sans-pro", sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}

.linksonhome a{
	text-decoration: none;
	color: white;
	opacity: .8;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.linksonhome a:visited{
	text-decoration: none;
	color: white;
	opacity: .8;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.linksonhome a:hover{
	text-decoration: none;
	color: white;
	opacity: 1;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.highlightedlink a{
	opacity: 1;
}

.aboutnicole{
	padding-top: 5em;
}
.resumebutton{
	margin-top: 1em;
	margin-bottom: 2em;
}

.sociallinks{
	margin: 0;
	padding: 0;
	font-size: 2em;
	display: inline-block;
	padding-top: 2em;
	padding-bottom: 3em;
	-o-transition: color 3s ease-out, background 3s ease-in;
	-ms-transition: color 3s ease-out, background 3s ease-in;
	-moz-transition: color 3s ease-out, background 3s ease-in;
	-webkit-transition: color 3s ease-out, background 3s ease-in;
	transition: color 3s ease-out, background 3s ease-in;
}



.sociallinks ul{
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "freight-sans-pro", sans-serif;
}

.sociallinks li{
	margin: 0;
	padding: 0;
	display: inline-block;
	padding-left: 2em;
}

.sociallinks li:first-child{
	padding-left: 0;
	font-weight: 600;
}



@media screen and (max-width: 800px){
	.sociallinks li{
		padding-left: 1em;
	}

	.sociallinks li:first-child{
		padding-left: 0;
	}
}

.emaillink:hover{
	color: #333333;
}

.linkedinlink:hover{
	color: #007bb5;
}

.twitterlink:hover{
	color: #33CCFF;
}

.pinterestlink:hover{
	color: #cb2027;
}

.aboutphoto{
	margin-top: 6em;
	margin-bottom: 2.5em;
}

.aboutmission{
	padding-top: 12em;
	padding-right: 5em;
}

@media screen and (max-width: 640px){
	.aboutmission{
		padding-top: 2.5em;
		padding-right: 0;
	}

	.aboutphoto{
		display: none;
	}
}

.aboutmission h2{
	font-weight: 400;
	font-family: "freight-sans-pro", sans-serif;
	line-height: 1.3em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.aboutblurb{
	margin-top: 1em;
}

.slightdropshadow{
	box-shadow: 0px 6px 10px 0px rgba(40, 39, 39, 0.04);
	-moz-box-shadow: 0px 6px 10px 0px rgba(40, 39, 39, 0.04);
	-webkit-box-shadow: 0px 6px 10px 0px rgba(40, 39, 39, 0.04);
}

p{
	line-height: 1.4em;
}

.whitebutton{
	border: solid 2px white;
	padding: 1em;
	color: white;
	display: inline-block;
	text-align: center;
	background-color: transparent;
	font-weight: 300;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.whitebutton:hover{
	border: solid 2px white;
	background-color: white;
	color: #6cd3b4;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

.buttonstripe{
	padding-top: 1em;
	padding-bottom: 1em;
}

#archive{
	display: none; 
}


.arrow{
	margin-top: 7em;
	position: absolute;
	color: white;
	padding: 3em;
	opacity: .8;
}

.rightarrow{
	right: 0px;
}

.leftarrow{
	left: 0px;
}

.arrow:hover{
	opacity: 1.0;
}

@media screen and (max-width: 800px){
	.arrow{
		visibility: hidden;
	}

	.rightlink{
		visibility: hidden;
	}

	.leftlink{
		visibility: hidden;
	}
}

.graphicdesignarrow{
	margin-top: .5em;
}

.hide{
	visibility: hidden;
}

.footer ul{
	margin: 0;
	padding: 0;
}

.footer li{
	width: 33%;
	display: inline-block;
}

.footer li:first-child{
	float: left;
}

.footer li:nth-child(2){
	text-align: center;
}

.footer li:nth-child(3){
	float: right;
}

.leftbuttontext{
	padding-left: .8em;
}

.rightbuttontext{
	padding-right: .8em;
}

.bottomhr{
	margin-top: 6em;
}